* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Color styles */
  --main---pink: #D658B3;
  --main---green: #45B442;
  --base---white: #FFFFFF;
  --base---gray-100: #F4F1F2;
  --base---gray-200: #E9E7E9;
  --base---gray-300: #DFDCDF;
  --base---gray-400: #CECACD;
  --base---gray-500: #756C71;
  --base---gray-600: #4A4448;
  --base---gray-700: #332B31;
  --gradient-base: linear-gradient(90deg, #2DAA6E 0%, #2DAAAA 33.33%, #856CCF 66.67%, #D658B3 100%);

  /* Font styles*/
  --font---family--sans: 'Oxygen', 'system-ui', 'sans-serif';
  --font---weight--bold: 700;
  --font---weight--regular: 400;

  /* Text-size styles */
  /* base size: body---text--md (16px) */
  --heading---title--md: 1.5rem;
  --heading---title--sm: 1.12rem;
  --heading---subtitle--md: 0.88rem;
  --heading---subtitle--sm: 0.75rem;
  --body---text--md: 1rem;
  --body---text--sm: 0.88rem;
  --body---text--xs: 0.75rem;
}

html {
  font-family: var(--font---family--sans);
  font-weight: var(--font---weight--regular);
  font-size: var(--body---text--md);
  line-height: 1.4;
  color: var(--base---gray-500);
}

body {
  background-color: var(--base---gray-200);
}

main {
  display: grid;
  padding: 1.25rem 0 .9375rem;
  gap: .5rem;
}


@media (width >= 57em) {
  
  main{
    padding-top: 4rem;
    gap: 1rem 1.5rem;
    grid-template-columns: .365fr .635fr;
  
    grid-template-areas:
      "user card"
      "history card"
      "history progress";

    /* Chrome, Safari e Edge */
    & ::-webkit-scrollbar {
      width: .375rem;
    }

    & ::-webkit-scrollbar-track {
      background: transparent;
      border-radius: 62.4375rem;
    }

    & ::-webkit-scrollbar-thumb {
      background: var(--base---gray-300);
      border-radius: 62.4375rem;
    }
  }
}