.container {
    width: min(23.4375rem, 100% - 0.75rem * 2);
    margin-inline: auto;
}

.input-container {
    width: 100%;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

@media (width >= 57em) {
    .container {
        width: 57rem;
    }
}